<% include header %>
<% include navbar %>
<!-- main area -->
<div class="col-xs-12 col-sm-9">
    <h1><span class="glyphicon glyphicon-user"></span> Admin</h1>
    felhasználó: alma <br>
    jelszó: alma
</div><!-- /.col-xs-12 main -->

<% include footer %>