<% include header %>
<% include sidebar %>

<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <h1><span class="glyphicon glyphicon-user"></span> Felhasználó</h1>

</div>
</div>
</div>
<% include footer %>