<% include header %>
        <!-- page content -->
        <div class="right_col">
            <h2>
            Valós idejű IoT mérőrendszer Node.js alapokon<br>
            Real time IoT system based on Node.js
            </h2>
        </div>
        <!-- /page content -->
    </div>
</div>
<% include footer %>
