<% include header %>

<% include navbar %>

            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <h1><span class="glyphicon glyphicon-dashboard"></span> Dashboard</h1>
                <form method="post" action="/search" class="col-md-4">
                    <input type="text" class="form-control " id="search1" placeholder="Keresés név szerint" name="search"><br>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span> Keresés</button><br>
                    </div>
                </form>
                <div class="col-md-4">
                    <div id="clock"></div>
                </div>
                <div class="col-md-12">
                    <div id="snmpmessages"></div>
                    <table>
                        <thead>
                        <th>OID</th>
                        <th>Type</th>
                        <th>Value</th>
                        </thead>
                        <tbody id="snmptabla">
                        <% snmpdata.forEach(function(item){})%>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div><!--/.container-->
</div><!--/.page-container-->
<% include footer %>
