<% include header %>
<% include navbar %>
<!-- main area -->
<div class="col-xs-12 col-sm-9">
    <h1><span class="glyphicon glyphicon-hdd"></span> Eszközök</h1>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CORD1</th>
        <th>CORD2</th>
        </thead>
        <tbody>

        <% adatok.forEach(function(item){%>
        <tr>
            <td><%= item.ID %></td>
            <td><%= item.NAME %></td>
            <td><%= item.CORD1 %></td>
            <td><%= item.CORD2 %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>

</div><!-- /.col-xs-12 main -->

<% include footer %>

