<% include header %>
        <div class="right_col">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Eszközök</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table">
                        <thead>
                            <th>ID</th>
                            <th>IP cím</th>
                            <th>Típus</th>
                            <th>Koordináta</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>192.168.45.23</td>
                                <td>asdfasdf</td>
                                <td>47'1234 19'2345</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

        </div>
        <!-- /page content -->
    </div>
</div>
<% include footer %>
