<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sajat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <h1>Canet WatchTower <span class="glyphicon glyphicon-tower"></span></h1>
            <h2>Bejelentkezés</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-warning <% if(alert){} else {%>
                hidden
                <% }%>">
                <strong>Sikertelen bejelentkezés!</strong> A megaddot jelszó vagy felhasználónév helytelenül lett beírva.
            </div>
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="felhasznalo">Felhasználó név</label>
                    <input type="text" class="form-control" placeholder="email" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Jelszó</label>
                    <input type="password" class="form-control" placeholder="jelszo" name="pw">
                </div>
                <button type="submit" class="btn btn-primary">Bejelentkezés</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>