<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sajat.css" type="text/css">
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body onload="initialize()">
<% include sidebar %>
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <h1><span class="glyphicon glyphicon-plus"></span> Eszköz felvétele</h1>
        <form class="col-md-8" method="post" action="\add_device">
            <div class="form-group">
                <label for="name">Név:</label>
                <input type="text" class="form-control" id="name" name="name" data-validation-help="Eszköz neve, vagy ami szerint azonosítani lehet.">
            </div>
            <div class="form-group">
                <label for="ip">IP cím:</label>
                <input type="text" class="form-control" id="ip" name="ip" data-validation-optional="true" data-validation-help="Eszköz IP címe. A megfelelő formátum: 0-255.0-255.0-255.0-255" data-validation="custom"  data-validation-regexp="^(?!0)(?!.*\.$)((1?\d?\d|25[0-5]|2[0-4]\d)(\.|$)){4}$">
            </div>
            <div class="form-group">
                <label for="sel1">Típus</label>
                <select class="form-control" id="sel1" name ="type">
                    <option>Router</option>
                    <option>Switch</option>
                    <option>Wireless</option>
                    <option>Egyéb</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Megjegyzés:</label>
                <textarea class="form-control" rows="2" id="comment" name="comment" data-validation-help="Bármi plusz információ. "></textarea>
            </div>
            <div class="form-group">
                <label for="address">Cím:</label>
                <input type="text" class="form-control" id="address" name="address" data-validation-help="A cím ahol megtalálható az eszköz."><br>
                <input type="button" class="btn btn-warning" value="Címből koordináták generálása" onclick="codeAddress()">
            </div>
            <div class="form-group col-md-4">
                <label for="display_lat">Szélesség</label>
                <input type="text" class="form-control" id="display_lat" name="lat" value="">
            </div>
            <div class="form-group col-md-4">
                <label for="display_lng">Hosszúság</label>
                <input type="text" class="form-control" id="display_lng" name="lng" value="">
            </div>
            <div id="map" value=""></div><br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Mentés"><br>
            </div>
        </form>
    </div>
</div>
</div>
<% include footer %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
    $.validate();

    var geocoder;
    var map;
    var image = 'antenna.png';

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(46.927599, 17.828559);
        var mapOptions = {
            zoom: 12,
            center: latlng
        }

        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker;

        function placeMarker(location) {
            if ( marker ) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: image
                });
            }
        }

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
            document.getElementById('display_lat').value = event.latLng.lat();
            document.getElementById('display_lng').value = event.latLng.lng();
        });
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                document.getElementById('display_lat').value = results[0].geometry.location.lat();
                document.getElementById('display_lng').value = results[0].geometry.location.lng();

                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpr5RB7UfG5i3qHJGRimywcjPqqMHSiSA&callback=initialize"></script>
<% include footer %>

