<% include header %>
<% include navbar %>
<!-- main area -->
<div class="col-xs-12 col-sm-9">
    <h1><span class="glyphicon glyphicon-search"></span> Keresés</h1>

</div><!-- /.col-xs-12 main -->

<% include footer %>

