<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            Canet watchtower
                        </a>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <li><a href="\devices\1"><span class="glyphicon glyphicon-hdd"></span> Eszközök</a></li>
                    <li><a href="\map"><span class="glyphicon glyphicon-map-marker"></span> Térkép</a></li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            <span class="glyphicon glyphicon-plus"></span> Eszköz hozzáadása<span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="\new_device"><span class="glyphicon glyphicon-plus"></span> Új eszköz felvétele </a></li>
                                    <li><a href="\csv_upload"><span class="glyphicon glyphicon-upload"></span> CSV fájllal </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl2">
                            <span class="glyphicon glyphicon-list"></span> Eszközök listázása<span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="\list_actives"><span class="glyphicon glyphicon-ok"></span> Aktív eszközök </a></li>
                                    <li><a href="\list_inactives"><span class="glyphicon glyphicon-remove"></span> Inaktív eszközök </a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-search"></span> Keresési beállítás szerint </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl3">
                            <span class="glyphicon glyphicon-signal"></span> SNMP<span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> OID szótár </a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> OID hozzáadás </a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="\admin"><span class="glyphicon glyphicon-user"></span> Felhasználó</a></li>
                    <li><a href="\logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>