#map {
    height: 400px;
    width: 100%;
}

body {
    overflow-x: hidden;
}
.kereses{
    width: 80px;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: white;
}
.header{
    font-size: 25px;
}
body {
    padding-top: 51px;
}
.text-center {
    padding-top: 20px;
}
.col-xs-12 {
    background-color: #fff;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}
#sidebar .nav {
    width: 95%;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top:0;
    }
}
.detailbtn{
    padding: 2px;
}
#clock{
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: "Harlow Solid Italic";
    text-align: center;
}
.info_box {
    border-style: solid;
    border-radius: 9px;
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px;
}